{% extends 'admin/admin_base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/administrador/meus_produtos.css' %}">
	<script type="text/javascript" src='{% static "js/administrador/meus_produtos.js" %}'></script>
{% endblock %}

{% block body %}
	
	<div id = 'div_dos_produtos'>
		{% for p in produtos %}
		<div class='div_do_produto'>
			<img class='imagem_do_produto' src='{%get_media_prefix%}{{p.imagem.name}}'>
			<h3 class='titulo_do_produto'> {{ p.titulo }}</h3>
			<div class='div_do_preço'><p class='preço_do_produto'> {{ p.preço }}</p></div>
			<button data-pk='{{p.id}}' type='submit' class='botão_excluir'>Excluir</button>
			<button>Marcar como Vendido</button>
			<button data-pk='{{p.id}}' type='submit' class='botão_editar'>Editar</button>
		</div>
	{% endfor %}
	</div>
	

	<form id = 'formulario_deletar_item'>
		
		{% csrf_token %} 
	</form>


{% endblock %}