body{
	overflow-x:hidden;
}

#fundo_do_site{
	width:100vw;
	height: 65vh;
	box-shadow:0px 1px 10px 1px #383838
}

.navegação{
	background:transparent !important;
}

#barra_de_pesquisa{
	position:absolute;
	top:50%;
	width:90%;
	left:50%;
	transform:translateX(-50%);

}

.botao_de_busca{
	background-color: #9bad7b !important;
}

#div_dos_produtos{
	position:absolute;
	width:75%;
	height:100%;
	left:25%;
	margin-top:4%;
}

.div_do_produto{
	position:relative;
	display:flex;
	height:20%;
	width:90%;
	padding:1%;
	border-style:solid;
	border-radius:10px;
	border-width:thin;
	border-color:gainsboro;
	box-shadow: 3px 3px 8px 1px #969696;
	margin-bottom:1%;


}

.div_do_produto:hover{
	border-color: #99b1c6 !important;
	box-shadow: 3px 3px 6px 2px #b1cee8;

}
.titulo_do_produto{
	position:relative;
	align-self:flex-start;
	margin-left:1%;
	margin-bottom:auto;
	/*top:-100%;
	left:20%;*/
}
.imagem_do_produto{
	position:relative;
	height:100%;
	border-radius:5px;
	/*display:inline;*/
	margin-right:2%;
	box-shadow:1px 1px 8px #2d2e33;

}

.div_do_preço{
	margin-left: auto;
	margin-top:auto;
	padding:0px;
	
}
.preço_do_produto{
	
	margin:0px;
	margin-left:-25%;
	font-style:bold;
	font-family:fantasy;
	font-size:16pt;
	color:#71c475;
}

.div_das_categorias{
	position:absolute;
	padding:1%;
	width:20%;
	height:300%;
	left: 3%;
	top:70%;
	box-shadow: 3px 3px 10px  #b1cee8
}

.div_do_filtro{
	position:relative;
	width:95%;
	left:5%;
}