<nav class="navbar navbar-expand navbar-dark bg-dark navegação">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    {% if request.user.is_authenticated%}
      <li class="nav-item">
      <a class="nav-link" href="/lojas/logout">Logout</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
    {% else %}
      <li class="nav-item">
      <a class="nav-link" href="/lojas/registro">Anuncie!</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lojas/login">Login</a>
       </li>
    {% endif %}
    
      <li class='nav-item'><a class='nav-link' href='#'>Produtos</a></li>
  </ul>
</nav>


  <div class='hidden-md-up dedinho' id='hamburguer'>
    <hr></hr>
    <hr></hr>
    <hr></hr>
  </div>


<div class="navbar nav-fill nav-justify flex-column collapse" id="navbar_responsiva">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    {% if request.user.is_authenticated%}
      <li class="nav-item">
      <a class="nav-link" href="/lojas/logout">Logout</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
    {% else %}
      <li class="nav-item">
      <a class="nav-link" href="/lojas/registro">Anuncie!</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/lojas/login">Login</a>
       </li>
    {% endif %}
    
      <li class='nav-item'><a class='nav-link' href='#'>Produtos</a></li>
  </ul>
</div>

<p id="Gratis">Gratis!</p>